.footer {
  color: rgb(8, 8, 8);
  background-position: -2px;
  margin-left: 6%;
  padding-right: 19%;
  border-top: #0e0d0d;
}
.row{
  padding: 15px;
}
.left {
  border-width: 2px;
  border-right: #050505;
  margin-top: 18vh;
  margin-left: -16vw;
  /* padding-left: 15%; */

  /* background-color: aqua; */
}
.social{
  margin-left: -16vw;
}
.gilly {
  color: green;
  /* background-position: 0px; */
  padding: auto;
  padding-block-start: 4px;
  padding-top: 12px;
  
}
.para {
  position: center;
  text-align: left;
  color: rgb(12, 12, 12);
 
}

#links:hover{
  background-color: rgb(163, 155, 155);
  color: darkgoldenrod;
  text-decoration:underline;
  transform: rotateX('22');
}
#links{
  font-size: 15px;
  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-align: left;
  padding: 1.5%;
  color: rgb(10, 10, 10);
}
#leftBlock{
  padding-top: 28px; 
  margin-right: -6vw; 
}
.Icon{
  margin-left: -3px;
  /* padding: 3px; */
  color: #0e0d0d;
}
#add{
  font-size: small;
  font-style: italic;
}
#utube:hover{
  color: rgb(245, 6, 6);
  text-shadow: #faf7f7;
  box-shadow: #faf7f7;

  transform: scale(1.5);
}
#fb:hover{
  color: rgba(11, 128, 238, 0.89);
  text-shadow: #faf7f7;
  box-shadow: #faf7f7;
  
  transform: scale(1.5);
}

#insta:hover{
  color: rgba(184, 15, 147, 0.507);
  text-shadow: #faf7f7;
  box-shadow: #faf7f7;
  
  transform: scale(1.5);
}
.logo{
    height: 200px; 
    width: 210px;
    /* padding-right: 10px; */
    padding: auto;
    margin-bottom: -25vh;
    margin-top: -10vh;
}
.logocol{
  /* margin-top: -6px; */
}
/* selected link */
