.footer {
  color: rgb(255, 254, 254);
  background-color: #172337;
  
 
 
}
.left {
  border-width: 2px;
  border-right: #b3afaf;
  margin-top: 15vh;
  /* margin-left: -52px; */
  padding-left: -10px;
  /* background-color: aqua; */
}
.gilly {
  color: green;
  background-position: 4px;
  padding: auto;
  padding-block-start: 4px;
  padding-top: 12px;
  
}
.para {
  position: relative;
  color: white;
 
}
/* unvisited link */
a:link {
  color: #b3afaf;
  text-decoration: solid;
  text-shadow: #080808;
}


#links:hover{
  background-color: rgb(88, 87, 87);
  /* font-size: 10px; */
  color: darkgoldenrod;
  /* text-transform: uppercase; */
  text-decoration:underline;
  
}
#links{
 
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;

 /* text-align: center; */
  padding: 1.5%;
  color: white;
}
#leftBlock{
  padding-top: 28px;  
}
.Icon{
  margin-left: -3px;
  padding: 3px;
  color: #b3afaf;
}
#add{
  font-size: small;
  font-style: italic;
}
#utube:hover{
  color: rgb(245, 6, 6);
  text-shadow: #faf7f7;
  box-shadow: #faf7f7;
  font-size: 28px;
}
#fb:hover{
  color: rgba(11, 128, 238, 0.89);
  text-shadow: #faf7f7;
  box-shadow: #faf7f7;
  font-size: 28px;
}

#insta:hover{
  color: rgba(184, 15, 147, 0.507);
  text-shadow: #faf7f7;
  box-shadow: #faf7f7;
  font-size: 28px;
}
.logo{
  
    height: 200px; 
    width: 210px;
    padding-right: 10px;
    padding: auto;
    margin-bottom: -25vh;
    margin-top: -10vh;
   
}
/* selected link */
